attrs
blinker
click
flasgger
Flask
Flask-JWT-Extended
Flask-Mail
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mistune
packaging
psycopg2-binary
PyJWT
PyYAML
referencing
rpds-py
six
SQLAlchemy
typing_extensions
Werkzeug
